<div class="content container" role="main">
  <mat-card>
    <div
      class="content"
      fxLayout="row"
      fxLayout.xs="column"
      fxFlexFill
      fxLayoutGap="5px"
    >
      <div fxFlex="20" class="sec1 p-ad-layout">
        <mat-card>
          <mat-grid-list [cols]="4">
            <mat-grid-tile *ngFor="let agilePointModel of agilePoints">
              <button
                [ngClass]="{
                  selectedPointbtn: selectedBtn == agilePointModel.Point
                }"
                (click)="toggleColor(agilePointModel.Point)"
                mat-fab
                color="primary"
                aria-label="Example icon button with a delete icon"
              >
                {{ agilePointModel.Point }}
              </button>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card>
      </div>
      <div fxFlex="50" class="sec2 p-ad-layout">
        <mat-card>
          second-section
        </mat-card>
      </div>
      <div fxFlex="30" class="sec3 p-ad-layout">
        <mat-card>
          <mat-card-title><h1>User Stories</h1></mat-card-title>
          <mat-card-content>
            <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <!-- Position Column -->
              <ng-container matColumnDef="no">
                <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.no }}
                </mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.name }}
                </mat-cell>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="points">
                <mat-header-cell *matHeaderCellDef> Points </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.points }}
                </mat-cell>
              </ng-container>

              <mat-header-row
                *matHeaderRowDef="displayedColumns"
              ></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: displayedColumns"
              ></mat-row>
            </mat-table>
          </mat-card-content>
          <mat-card-footer
            >Section anchored to the bottom of the card
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </mat-card>
</div>
